.pets {
    background: left 100% no-repeat url("../img/4-flower_side-left.png"), right 100% no-repeat url("../img/4-flower_side-right.png");
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1160px;
        width: 100%;
        min-height: 1210px;
        margin: 0 auto;
        position: relative;
    }
    &__carousel {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        top: 505px;
        &-arrowleft {
            display: block;
            width: 62px;
            height: 62px;
            border: none;
            border-radius: 100%;
            background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
            position: relative;
        }
        &-arrowright {
            display: block;
            width: 62px;
            height: 62px;
            border: none;
            border-radius: 100%;
            background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
            position: relative;
        }
    }
    .button {
        &_left {
            right: 82px;
        }
        &_right {
            left: 82px;
        }
    }
    &__cards {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;   
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 364px;
        height: 424px;
        border: 1px solid #FE9013;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        background: #FFFFFF;
        &-img {
            width: 366px;
            height: 366px;
        }
        &-footer {
            display: flex;
            justify-content: space-between;
            width: 94%;
            margin: 5px 0px 0px 0px;
            transition: 0.5s;
            position: relative;
        }
        &-title {
            color: #000000;
            font-weight: 700;
            line-height: 140%;
            text-transform: uppercase;
        }
        &-area {
            font-weight: 300;
            line-height: 140%;
            text-transform: uppercase;
            color: #000000;
        }

    }
    &__btn {
        @include orange_btn;
        margin: 80px auto 0;
    }
}


